.DS_Store
*~
*.pyc
*.o
*.so
*.dylib
_*.py
*.sw*
.exrc
ROS_NOBUILD

.build_version

build
bin
lib

.svn

data

*.sconsign.dblite
*.os

CMakeCache.txt
*.bag

*/docs/*.aux
*/docs/*.log
/docs/*.rel

Ogre.log
doc
